{{#each services}}
<div class="cell large-3 medium-12 small-12 services-item">
    <div class="callout {{this.servBackground}} grid-x" data-equalizer-watch>
        <div class="services-bg-transparency"></div>
        <figure class="cell large-12 services-img-box">
            <img class="project-img" src="./assets/img/{{this.servImg}}" alt="services-img">
        </figure>
        <h4 class="cell large-12 services-title">{{ this.serName }}</h4>
        <div class="grid-x inside-box">
        <p></p>
            <h4 class="cell large-12 inside-services-title ">{{ this.serName }}</h4>
            <p class="cell large-12 services-discrption">{{this.servDesc}}</p>
        </div>

    </div>
</div>
{{/each}}
